@page "/Employee"
@model Web_App.Pages.Shared.EmployeePageModel
@{
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="d-flex flex-column" style="width:250px">
    <label style="padding-bottom:5px">Username : </label>
    <input type="text" placeholder="Enter Username" id="username" name="username" required>
    <label style="padding-bottom:5px">Password : </label>
    <input type="password" placeholder="Enter Password" id="password" name="password" required>
    <br />
    <button value="Login" id="submit" type="submit" onclick="login()">Login</button>
</div>
<script src="~/js/Login.js"></script>