@page "/TextArea"
@model Web_App.Pages.Shared.TextAreaModel
@{
}

 <script src="~/lib/jquery/dist/jquery.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<div>Page</div>
<table>
    <thead>
        <tr>
            <th>
               SoftLockStatus
            </th>
             <th>
             <textarea id="status"></textarea>
             </th>
          </tr>
          <tr>
              <th>

              </th>
              <th>
                   <input type="submit" id="textsubmit" />
              </th>
             
          </tr>


</textarea>


<script src="~/js/lockapicall.js"></script>